@tailwind base;
@tailwind components;
@tailwind utilities;

/* Wallet adapter styles */
@import '@solana/wallet-adapter-react-ui/styles.css';

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 9, 9, 11;
  --background-end-rgb: 9, 9, 11;
}
